@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.bg-container {
    background-image: linear-gradient(to right, #f54f5a, #f58529, #f64f59, #d267c4, #00ffff);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
}

.brandName {
    display: flex;
    width: 160px;
    font-family: "Roboto";
}

.nav-logo {
    height: 40px;
    margin-right: 20px;
    align-self: center;
}

.name {
    font-size: 20px;
    font-family: "Roboto";

}

.link-container {
    display: flex;
}

.link {
    display: none;
    font-size: 18px;
    font-weight: 600;
    font-family: "Roboto";
}

.search-bar-container {
    display: none;
}

.search {
    align-self: center;
}

.top-heading {
    font-family: "Lobster";
    font-size: 27px;
    font-weight: 500;
}

.top-text {
    max-width: 90%;
}

.top-description {
    font-family: "Roboto";
    font-size: 14px;
}

.search-bar {
    border: 0;
    outline: focous;

    height: 25px;
    width: 200px;
    border-radius: 8px;
}

.search-btn {
    background-color: #3b82f6;
    border: 0;
    color: #fff;
    height: 29px;
    width: 70px;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
}

.feature-bg-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.feature-container {}

.feature-img {}

.feature-name {
    font-family: "Roboto";
    font-size: 18px;
    color: #0f172a;
    font-weight: 600;
}

@media screen and (min-width:768px) {
    .link {
        display: block;
    }

    .search-bar-container {
        display: block;
    }

    .feature-bg-container {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (max-width:768px) {
    .header-container {
        background-image: linear-gradient(to right, #f54f5a, #f58529, #f64f59, #d267c4, #00ffff);
    }
}

@media (min-width:768px) {
    .header-container {
        background-image: linear-gradient(to bottom, #f54f5a, #f58529, #f64f59, #d267c4, #00ffff);
    }
}
